.B__sort__menu {
  display: flex;
  margin-top: 30px;
  margin-bottom: 0px;
}
.B__sort__menu li {
  display: inline;
  padding-left: 10px;
}
.B__sort__menu li:first-child {
  padding-left: 0;
}
.B__sort__menu:hover {
  cursor: pointer;
}
