.B__sort__menu {
  display: flex;
  margin-top: 30px;
  margin-bottom: 0px;
}
.B__sort__menu li {
  display: inline;
  padding-left: 10px;
}
.B__sort__menu li:first-child {
  padding-left: 0;
}
.B__sort__menu:hover {
  cursor: pointer;
}

/* CSS 파일 또는 스타일 코드에 추가 */
.pr__board.active,
.co__board.active {
  text-decoration: underline; /* 언더라인 스타일 적용 */
  /* 다른 스타일도 추가할 수 있습니다. */
}
