.error__m {
  color: red;
  font-size: 18px;
}

.P__sort__menu {
  display: flex;
  margin: 15px 30px 0px 30px;
}
.P__sort__menu li {
  display: inline;
  padding-right: 10px;
}
.P__sort__menu li:first-child {
  padding-left: 0;
}

.Pro__NicknameContainer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Pro__Nickname_div {
  margin-left: 10px;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14pt;
  align-items: center;
}
.Pro__Nickname {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  font-size: 14pt;
}

.Pro__PointAndGrade {
  display: flex;
  margin-right: 30px;
  font-size: 14pt;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.Pro__Point {
  display: flex;
}
.Pro__Grade {
  display: flex;
}

.Pro__UserProfileContainer {
  margin-left: auto;
  margin-right: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  justify-content: end;
  grid-gap: 10px;
  justify-items: end;
}

.Pro__form_div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 0;
}

.Pro__UserProfile {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14pt;
  width: 300px;
  height: 40px;
  margin-bottom: 5px;
  padding: 5px; /* 간격을 확보하기 위해 일부 패딩을 추가합니다 */
  background-color: white; /* 흰 배경을 추가합니다 */
  color: black; /* 글자 색상을 검정색으로 설정합니다 */
  border: 1px solid #ccc; /* 구분을 위해 테두리를 추가합니다 */
  border-radius: 5px; /* 약간의 테두리 반경을 적용합니다 */
}

.Pro__ProfileEditBtn {
  display: flex;
  width: 300px; /* 가능한 공간을 차지하도록 너비를 100%로 설정합니다 */
  height: 50px;
  background-color: #ba55d3;
  border: none;
  border-radius: 10px;
  transition: all 0.2s;
  margin-top: 10px;
  font-size: 14pt;
  color: white;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-left: auto;
}
