#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.h__logo__img {
  width: 120px;
  height: 40px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ba55d3;
  backdrop-filter: blur(15px);
  min-height: 60px;
}

.header__nav li {
  display: inline;
}
.h__link {
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px;
  font-weight: 600;
  position: relative;
  color: white;
}

.logout__btn {
  background-color: #ba55d3;
  border: none;
}
