.Signup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

.Su__t__box {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14pt;
  width: 400px;
  height: 40px;
}

.Signup__btn {
  width: 400px;
  height: 50px;
  background-color: #ba55d3;
  border: none;
  border-radius: 10px;
  transition: all 0.2s;
  margin-top: 10px;
  font-size: 14pt;
  color: white;
}
.Signup__btn:hover {
  box-shadow: 5px 5px 10px #888888;
}

.error__m {
  color: red;
  font-size: 18px;
}

.container {
  display: flex;
  align-items: center;
}
.container .Su__t__box {
  width: 310px;
}
