/* 기존 스타일 */
.B__sort__menu {
  display: flex;
}
.B__sort__menu li {
  display: inline;
  padding-right: 10px;
}
.B__sort__menu li:first-child {
  padding-left: 0;
}
.B__sort__menu:hover {
  cursor: pointer;
}

.pr__board.active,
.co__board.active {
  text-decoration: underline;
}

.Board__page {
  text-align: center;
}

.floating-button {
  position: fixed;
  bottom: 30px;
  right: 35px;
  z-index: 5;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: start;
    margin-left: 30px;
  }
}
