.B__sort__menu {
  display: flex;
}
.B__sort__menu li {
  display: inline;
  padding-right: 10px;
}
.B__sort__menu li:first-child {
  padding-left: 0;
}
.B__sort__menu:hover {
  cursor: pointer;
}

.pr__board.active,
.co__board.active {
  text-decoration: underline;
}

.Board__page {
  text-align: center;
}

.floating-button {
  position: fixed;
  bottom: 30px;
  right: 35px;
  z-index: 5;
}
